.Header
    background-color: blanco
    color: gris2
    padding: 0px 10px
    position: fixed
    top: 0
    left: 0
    right: 0
    a
        color: gris2
        padding: 0
        text-decoration: none
        &:hover
            color: gris3
    .Header-logo
        font-size: 0
        padding: 0.375rem 1.25rem 0.375rem 0.625rem
    .Header-nav
        font-size: 1.5em
        overflow: hidden
        ul
            list-style: none
    .Header-logo, .Header-searchBox
        display: inline-block
        vertical-align: top
        
.u-container
    display: block
    margin: 0
    padding: 0.125em 0px
    overflow: hidden

.u-animacionVertical
    max-height: 200px

@media screen and (min-width:480px)
    .Header-nav
        max-height: 0
        transition: max-height 0.3s ease-out
        ul
            list-style: none
            margin: 0.625rem 0rem
            padding: 0
            li
                border-bottom: 1px solid gris1
                display: block
                margin: 0
                padding: 0.5rem 0.25rem
                a
                    color: gris3
                    display: block
                    font-size: 1.25rem
                    margin: 0
                    padding: 0
                    span
                        font-size: 1.5rem
                        margin-right: 0.5rem

                &:hover
                    background-color rojo
                    border-radius: 0.25rem
                    a, span
                        color: blanco
                &:last-child
                    border: none
    .Header-nav--displayMenu
        max-height: 200px;
                
    .Header-menuButton
        background-color: transparent
        border: none
        float: right
        font-size: 2em
        outline: 0
        padding: 0.5rem 0.625rem
        &:hover
            color: gris3

@media screen and (min-width:721px)
    .Header-nav
        max-height: 52px
        float: right
        ul
            margin: 0
            li
                border: none
                display: inline-block
                a

                    > span
                        display: none
                &:last-child
                    border-left: 1px solid gris3
                    a
                        content: ""
                        > span
                            display: inline-block
                    
    .Header-menuButton
        display: none