<!DOCTYPE html>
<html lang="es">
<head>
	<title>YoutubeSearch</title>
	<meta charset="UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../static/css/main.css"/>
	
</head>
<body>
	<header class="Header">
		<div class="u-container">
			<a href="/">
				<img src="../static/img/logo.png" alt="YoutubeSearch" height="50" width="120">
			</a>
			<div class="Header-searchBox">
				<a href="#">Buscar</a>
			</div>
			<nav>
				<ul>
					<li><a href="#">Contacto</a></li>
					<li><a href="#">Información</a></li>
					<li><a href="#">Github</a></li>
				</ul>
			</nav>
			<button class="Header-button">Menu</button>
		</div>
	</header>
</body>
</html>