<!DOCTYPE html>
<html lang="es">
<head>
	<title>YoutubeSearch</title>
	<meta charset="UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700,300' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="../static/css/main.css"/>
	
</head>
<body>
	<header class="Header">
		<div class="u-container">
			<a class="Header-logo" href="/">
				<img src="../static/img/logo.png" alt="YoutubeSearch" height="36"/>
			</a>
			<div class="Header-searchBox">
				<button class="icon-search">Buscar</button>
			</div>
			<button class="Header-menuButton icon-menu"></button>
			<nav class="Header-nav">
				<ul>
					<li><a href="#"><span class="icon-mail"></span>Contacto</a></li>
					<li><a href="#"><span class="icon-info"></span>Información</a></li>
					<li><a href="#"><span class="icon-github"></span>Github</a></li>
				</ul>
			</nav>
		</div>
	</header>
</body>
</html>